{% extends 'base.html' %}

{% block content %}

    {% if lista_de_cursos %}

        <h2 class="text-center">Lista de cursos disponíveis para matricula</h2>

        {% for curso in lista_de_cursos %}
            <div class="card mb-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{curso.nome}}</h5>
                    <h5 class="card-title"> {{curso.descricao}}</h5>
                    <h5 class="card-title">Carga horário de: {{curso.carga_horaria}}</h5>
                    <h5 class="card-title">Por apenas R${{curso.preco}} por mês</h5>
                    <a href="{% url 'cursos:detalhes' curso.id %}" class="card-link">Mais informações</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <h1 class="text-center mt-3">Não existem cursos cadastrados na plataforma</h1>
    
    {% endif %}

{% endblock content %}